@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 10px 100px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1d2b3a;
    border-radius: 30px;
    width: auto;
    border-radius: 5px solid rgb(82, 4, 4);

    box-shadow: 10px 10px 10px rgba(19, 160, 220, 5),

        10px 10px 15px rgba(116, 32, 32, 0.05);
}

nav .logo {
    background-color: #1d2b3a;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li a {
    line-height: 20px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    text-transform: lowercase;

}

.sub-menu-1 {
    display: none;
}

.navbar ul li :hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #fff;
    margin-top: 15px;
    margin-left: -15px;
}

.navbar li {
    list-style: none;
    float: left;
    display: flex;
    margin: 10px;
    background: transparent;
    font-size: 2em;
    color: #1d2b3a;
    border-radius: 30px;
    width: auto;
    border-radius: 5px solid rgb(82, 4, 4);

    box-shadow: 10px 10px 10px rgba(19, 160, 220, 5),

        10px 10px 15px rgba(116, 32, 32, 0.05);
}

.navbar li:hover {
    background-color: #1d2b3a;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border-radius: 5px solid rgb(82, 4, 4);

    box-shadow: 10px 10px 10px rgba(19, 160, 220, 5),

        10px 10px 15px rgba(116, 32, 32, 0.05);
}

.login-box:hover {
    background-color: #1d2b3a;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 50%;
    height: 50px;
    border-radius: 5px solid rgb(82, 4, 4);

    box-shadow: 10px 10px 10px rgba(19, 160, 220, 5),

        10px 10px 15px rgba(116, 32, 32, 0.05);
}

h2 {
    background-color: #1d2b3a;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.input-box {
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid transparent;
}

.input-box label {
    position: absolute;

    left: 100px;
    transform: translate(-70%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    left: 25px;
    color: #fff;
    font-size: 1.2em;
    line-height: 20px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: -9em;
    color: #fff;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input {
    margin-right: 3px;

}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    border-radius: 5px solid rgb(82, 4, 4);

    box-shadow: 10px 10px 10px rgba(19, 160, 220, 5),

        10px 10px 15px rgba(116, 32, 32, 0.05);
}

button {
    background-color: #1d2b3a;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media(max-width:360px) {
    .login-box {
        width: 100%;
        height: 100vh;
    }
}
@media(max-width:360px) {
    nav {
        width: 100%;
        height: 100vh;
    }
}
